<!DOCTYPE html>
<html>
<header th:insert="index.html :: headerfiles"> </header>
<body>
<header th:insert="index.html :: navbar"> </header>

    <div class="container">
        <div class="row">
            <div class="col s12 center header">
                <h1>There has been an error;</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <h1>Something went wrong! </h1>
                <h2>Our Engineers are on it</h2>
                <a href="/" id="download-button" class="btn-large waves-effect waves-light red lighten-1">Go back</a>
            </div>
        </div>
    </div>
    
<nav th:replace="index.html :: footer"></nav>
</body>
</html>